{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block content %}
<div class="container min-h-screen">
    <div class="row">
        <div class="col-12 mt-5 w-9/12 mx-auto">
            <div class="mb-10">
                <h1 class="h2">Accès d'administration</h1>
                <small>(Vous êtes connecté en tant qu'administrateur)</small>
            </div>
            <div class="mb-10">
                <p class="mb-2">Vous pouvez accéder à la liste des utilisateurs en cliquant sur le bouton ci-dessous</p>
                <a href="{{ path('app_admin_users') }}" class="btn btn-primary">Liste des utilisateurs</a>
            </div>
            <div class="mb-10">
                <p class="mb-2">Vous pouvez accéder à la liste des posts en cliquant sur le bouton ci-dessous</p>
                <a href="{{ path('app_admin_posts') }}" class="btn btn-primary">Liste des posts</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
