{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block content %}
<div class="container min-h-screen">
    <div class="row">
        <div class="col-12 mt-5 w-9/12 mx-auto">
            <div class="mb-10">
                <h1 class="h2">Liste des utilisateurs</h1>
                <small>(Vous êtes connecté en tant qu'administrateur)</small>
            </div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Email</th>
                    <th>Rôles</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <th scope="row">{{ user.id }}</th>
                        <td>{{ user.email }}</td>
                        <td>
                            {# On boucle sur les rôles #}
                            {% for role in user.roles %}
                                {% if role == "ROLE_USER" %}
                                    Utilisateur
                                {% elseif role == "ROLE_EDITOR" %}
                                    Editeur
                                {% elseif role == "ROLE_ADMIN" %}
                                    Administrateur
                                {% endif %}
                            {% endfor %}
                        </td>
                        {#                <td>{{ user.articles|length }}</td>#}
                        <td><a href="{{ path('app_admin_user', {'id': user.id}) }}">Modifier</a></td>
                    </tr>

                {% else %}
                    <p>Aucun utilisateur inscrit</p>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
